{% include "header.html" %}  

        <h1>About Us</h1>
        
        <section>
            <h2 style="font-size: 40px; text-align: center;">Who are we?!</h2>
            <img src="https://thumbnails.production.thenounproject.com/XFpYz5yephRmR4XFVbP_t4xBF-8=/fit-in/1000x1000/photos.production.thenounproject.com/photos/20CC4CCC-1805-4429-8CFF-038674757001.jpg" alt="Coffee Worker" width=750 height=500>
            <p class="description">Welcome to Digital Cafe, where passion for coffee meets a commitment to quality. Founded with a love for the artistry of coffee, we source the finest beans from around the world, ensuring each cup tells a story of craftsmanship and dedication. 
                From meticulously roasted blends to expertly crafted brews, we invite you to embark on a journey with us, celebrating the richness and diversity that coffee has to offer. Join us in savoring every sip and experiencing the world in a cup. 
                From reenergizing our customers with a good cup of coffee to being a quaint place to work or read at, We in Digital Cafe have a mission to be there for our customers so that they can tackle the rest of their day.</p>
        </section>

{% include "footer.html" %}

